noderedflows/flactowmvflow.json
[{"id":"d7218e72.b6e65","type":"file in","z":"f847ca2a.af1818","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":290,"y":560,"wires":[["dd2a9af5.1bb118","e6d176c.aadd888"]]},{"id":"e0dfc229.1dc91","type":"inject","z":"f847ca2a.af1818","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["8a377a16.6888a8"]]},{"id":"c049664c.0ac2e8","type":"function","z":"f847ca2a.af1818","name":"Build File Read Loop","func":"global.set('filenames', msg.payload);\n\nmsg.payload.forEach((flacfile) => {\n    var filename = 'birdsong\\/flac\\/' + flacfile;\n    node.send({filename: filename});\n});\n\n","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["2dbb1f23.a4fee"]]},{"id":"7ccc8fba.08aef","type":"debug","z":"f847ca2a.af1818","name":"Converted File","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":660,"y":580,"wires":[]},{"id":"e6d176c.aadd888","type":"ffmpeg-conversion","z":"f847ca2a.af1818","name":"","format":"wav","audiochannels":"mono","x":230,"y":640,"wires":[["f2eb70ac.5438b"]]},{"id":"d3d1784e.475308","type":"comment","z":"f847ca2a.af1818","name":"File Loop","info":"","x":80,"y":420,"wires":[]},{"id":"2dbb1f23.a4fee","type":"delay","z":"f847ca2a.af1818","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":540,"wires":[["d7218e72.b6e65","8b42b951.3b79f8"]]},{"id":"dd2a9af5.1bb118","type":"debug","z":"f847ca2a.af1818","name":"File Read","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":520,"y":500,"wires":[]},{"id":"f2eb70ac.5438b","type":"function","z":"f847ca2a.af1818","name":"Set Output Filename","func":"var filenames = global.get('filenames');\nvar flacfilename = filenames.shift();\nglobal.set('filenames', filenames);\n\n//node.warn(filenames);\n//node.warn(flacfilename);\n\n//var wavfilename = flacfilename.replace(/flac/g, \"wav\"); \n\n\n//msg.filename = 'birdsong\\/wav\\/' + wavfilename;\n\nmsg.filename = msg.filename.replace(/flac/g, \"wav\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":620,"wires":[["7ccc8fba.08aef","bae00b14.648d98"]]},{"id":"bae00b14.648d98","type":"file","z":"f847ca2a.af1818","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":450,"y":700,"wires":[]},{"id":"8a377a16.6888a8","type":"fs-file-lister","z":"f847ca2a.af1818","name":"","start":"birdsong/flac/","pattern":"*.flac","path":false,"single":true,"depth":0,"stat":false,"x":260,"y":440,"wires":[["50d0df5.ef4b32","c049664c.0ac2e8"]]},{"id":"50d0df5.ef4b32","type":"debug","z":"f847ca2a.af1818","name":"File List","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":460,"y":420,"wires":[]},{"id":"8b42b951.3b79f8","type":"debug","z":"f847ca2a.af1818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":120,"y":580,"wires":[]}]
